body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-container img {
    max-width: 19%;
    height: auto;
}

.section-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.characteristic {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
